body {
    margin-top: 5%;
}
#contHeader{
    display: flex;
    justify-content: center;
}
#contSearch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    margin-top: 5%;
    border: 2px solid red;
}
#contSearch input{
    margin-left: 10%;
    margin-top: 2%;
}
#contPrevious {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    margin-top: 5%;
    border: 2px solid blue;
    text-align: center;
}